

h1{
    color:rgb(20, 69, 92)
}
h2{
    color:rgb(20, 194, 156)
}
h5{
    color: rgb(49, 15, 241);
}

 
  style{
      background-color:rgb(247, 3, 166)}
      
h1{
background-color:rgb(109, 223, 98);
}